@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  --cursor-color: #FF0000
}

html.dark-mode {
  --cursor-color: #FAEBD7
}

.hero {
  background-image: url('../public/hero2.webp');
}
/* Add keyframes for animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Custom animations */
.animate-fadeIn {
  animation: fadeIn 2s ease-in-out;
}

.animate-slideIn {
  animation: slideIn 1.5s ease-in-out;
}
